.container_table {
  max-height: 600px;
}

.container_input {
    display: flex;
    justify-content: flex-start;
}

.input {
  border-radius: 5px;
  padding: 8px;
}

.input_number {
  width: 90px;
}

.input_number:first-child {
    margin-right: 8px;
}
